/* .my-form { */
[class="my-form"] {
  border: 2px solid;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* 0 1 1 */
.my-form input {
  /* display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-style: italic;
  width: 100%; */
}

.my-form [type="password"],
.my-form [type="text"] {
  display: block;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-style: italic;
  width: 100%;
}

.my-form label {
  text-transform: capitalize;
}

/* h1 {} type selector
.main-heading {} class selector
#header {} id selector
[] attribute selector */

[type="submit"] {
  width: 100px;
  display: block;
  /* margin: 0 auto; */
  /* margin-left: auto;  to push the button to far right*/
  background-color: #f11;
  border: none;
  height: 30px;
}

[type="email"] {
  background-color: #f22;
}